#titler {
    font-family: 'Lora', serif;
    font-style: normal;
    font-weight: 500;
    font-size: 36px;
}

#description {
    font-family: 'Montserrat', sans-serif;
}

#thisbtn {
    font-family: 'Crimson Pro', serif;
    font-style: normal;
    font-weight: 200;
    font-size: 14px;
}